@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

input[type='checkbox'] {
	@apply checked-interactivity custom-input;
}

.checked-interactivity {
	@apply checked:bg-secondary checked:focus:bg-secondary hover:checked:bg-secondary-dark;
}

.custom-input {
	@apply ring-1 h-5 w-5 border-none rounded-md shadow-sm text-black placeholder:text-sm text-ellipsis interactivity transition;
}

.interactivity {
	@apply hover:ring-1 hover:cursor-pointer hover:ring-secondary hover:focus:ring-secondary hover:focus:ring-4 focus:ring-2 focus:ring-secondary disabled:hover:cursor-not-allowed disabled:bg-input-disabled disabled:!ring-divider;
}

input[type='radio'] {
	@apply h-5 w-5 checked-interactivity rounded-full transition mr-2 border-none ring-1 ring-divider interactivity;
}

input[type='checkbox']:disabled + span {
	@apply text-input-disabled;
}

.box-shadow-glow {
	filter: drop-shadow(0 0 6px rgba(79, 143, 205, 0.4));
}
